@model CanalesElectronicosAPV.Core.Dto_s.Response.DatosClienteMainResponse

@{
    ViewData["Title"] = "DatosClioentemain";
}

<h1>DatosClioentemain</h1>

<div>
    <h4>DatosClienteMainResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTipoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTipoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaExpedicionIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaExpedicionIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAfiliado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAfiliado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Segmento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Segmento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreNacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreNacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreOcupacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreOcupacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAsesorAsignado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAsesorAsignado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisExpedicionIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisExpedicionIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadExpedicionIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadExpedicionIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimientoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimientoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anuencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anuencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalNumeroCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalNumeroCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalNumeroTelefonico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalNumeroTelefonico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboralNumeroCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboralNumeroCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboralDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboralDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaboralNumeroTelefonico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaboralNumeroTelefonico)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
